PORT=5000
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/vedhaeduspark
JWT_SECRET=your_jwt_secret_here
JUDGE0_API_URL=https://ce.judge0.com
NODE_ENV=development

# Brevo SMTP
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your_brevo_user
BREVO_SMTP_PASS=your_brevo_pass
EMAIL_FROM_NAME=VedhaEduSpark
EMAIL_FROM_ADDRESS=noreply@yourdomain.com

# Frontend URL
CLIENT_URL=http://localhost:5173

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
